/* ========================== Component Name ========================== */
$component: .features-22;

/* ========================== Order: ========================== */

/*
 * Base
 * Modifiers
 * Breakpoints
 * Component Options
 * Themes
 */

/* ========================== Component Base: ========================== */

$(component) {
  @apply relative w-full my-8 mx-auto;

  &__wrap {
    @apply relative w-full mx-auto px-12 py-24 max-w-screen-xxl text-wire-dark bg-wire-light;
    display: grid;
    grid-gap: 2rem;
  }

  &__panels {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }

  &__panel {
    position: relative;
    border-radius: 1rem;
    padding: 2rem;
    @apply text-wire-light bg-wire-dark;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 384px;
  }

  &__panel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
  }

  &__panel-caption {
    @include heading-4;
    @apply text-wire-dark;
    width: 50%;
    font-weight: lighter;
    z-index: 10;
  }

  &__copy + &__panels {
    margin-top: 2rem;
  }

  &__copy {
    grid-area: 1 / 1 / span 1 / span 1;
    align-self: center;
  }

  &__title {
    margin-bottom: 1rem;
  }

  /* ========================== Modifiers ========================== */

  /* ========================== Breakpoints ========================== */

  @screen sm {

  }

  @screen md  {
    &__wrap {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
    }

    &__copy + &__panels {
      margin-top: 0;
    }

    &__panels {
      grid-area: 1 / 1 / span 1 / span 2;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-gap: 2rem;
    }

    &__copy {
      grid-area: 1 / 3 / span 1 / span 1;
    }

    &__panel {
      /* grid-area: 1 / 1 / span 1 / span 1; */
    }

    &.flip--h &__panels {
      grid-area: 1 / 2 / span 2 / span 2;
    }

    &.flip--h &__copy {
      grid-area: 1 / 1 / span 2 / span 1;
    }
  }

  @screen lg  {

  }

  @screen xl  {

  }

  @screen xxl  {

  }

  /* ========================== Component: Options ========================== */

  /* ========================== Themes ========================== */
}

/* ========================== INSTANCE OVERRIDES ========================== */

$(component).someClass {
  
  $(component)__wrap {
    
  }
}
